/*
Challenge:
Wrap the buttons in a flexbox div and center them.
Give the div a "btn-wrapper" class.
*/

.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin: 0 auto 20px;
}

.search-input {
    display: block;
    width: 400px;
    margin: 0 auto;
    line-height: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.btn-wrp{
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.btn {
    display: block;
    margin: 0 5px;
    background: #fafafa;    /* #dfe1e5; */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
	font-family: arial;
	cursor: pointer;
}
